<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus.zenmotions"
    android:sharedUserId="android.uid.system" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26" />
    <application
        android:icon="@drawable/ic_gesture"
         android:label="@string/gestures"
        android:persistent="true">
        <activity
            android:name="com.asus.zenmotions.TouchscreenGestures"
            android:exported="false"
            android:label="@string/zenmotions"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
